<body>
<h1><% if @search.present? %>Search results for <%=@search%><% else %>List of all users<% end %></h1>
<% @users.each do |user| %>
    <ul>
    <li><%= link_to user.username, user_path(user.username)%></li>
    </ul>
<% end %>
</body>