<main role="main" class="container">

  <h1>World Travel Reviews</h1>

    <%= image_tag("mO6ZhrO.jpg") %>

    <p>
        <%= link_to 'Home', home_path %><br>
    </p>

</main><!-- /.container -->