/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * // = require_tree .
 * // = require_self
 */


@import "bootstrap";

body nav navbar.navbar-expand-md.navbar-dark.fixed-top,
body a form.search-bar {
  position: fixed;
}

body nav #navbarsExampleDefault ul li {
  font-size: 16px;
}

.alert.alert-success {
  background-color: #d9b310;
  color: #fffff0;
}

.alert.alert-danger {
  background-color: #cd225e;
  color: #1d2731;
}

.fixed-top {
  padding-top: 0rem;
  padding-bottom: 0rem;
  line-height: 45px;
}

@keyframes slideleft {
  from {
      background-position: 0%;
  }
  
  to {
      background-position: 900%;
  }
}

@-webkit-keyframes slideleft {
  from {
      background-position: 0%;
  }
  to {
      background-position: 900%;
  }
}
bg {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: url("Background.png");
  background-repeat: repeat-x;
  animation: slideleft 600s infinite linear;
  -webkit-animation: slideleft 600s infinite linear;
  background-size: contain;
  background-attachment: fixed;
  padding: 0%;
}
body {
  padding-top: 5rem;
  color: #1d2731; 
  background-attachment: fixed;
}
h1, h2, h3 {
  color: #1d2731;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div.field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.actions {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

label,
input {
  display: block;
}

div.invalid-feedback {
  display: block;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d9b310;
}

a:link,
body h4 a:link {
  color: #328cc1;
}

nav a,
nav a:after,
nav a:before {
  transition: all .5s;
}

