/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * // = require_tree .
 * // = require_self
 */


@import "bootstrap";



.fixed-top {
  padding-top: 0rem;
  padding-bottom: 0rem;
  line-height: 45px;
}

body {
  padding-top: 5rem;
  color: #1d2731; 
  background-image: url("Background.png");
  background-size: cover;
  background-position: center center;
}
h1, h2, h3 {
  color: #1d2731;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div.field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.actions {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

label,
input {
  display: block;
}

div.invalid-feedback {
  display: block;
}

.navbar-dark .navbar-nav .nav-link {
  color: #328cc1;
}

nav a,
nav a:after,
nav a:before {
  transition: all .5s;
}
