// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li {
    font-size: 1.5rem;
    color: #328cc1;
}

h1 {
    width: 50%;
}

div.example {
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

body div.reviews {
    break-inside: avoid;
    margin-bottom: 0.5em;
    line-height: 1.2;
    background-color: #ffffff;
    border-style: solid;
    border-color: #1d2731;
    border-width: 1px;
    border-radius: 5px;
}