// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
    width: 600px;
    height: 300px;
  }
textarea#review_title {
    width: 600px;
    height: 50px;
  }
div.star-rating {
}
  