<% provide(:title, 'Review') %>

<main role="main" class="container">
<h1>New Review</h1>

<%= render 'form', review: @review %>

<p>
  <%= link_to 'Back', city_path(@city) %>
</p>

</main><!-- /.container -->