<% if @find.blank? %>
    <h1>New Review</h1>
  <%= render 'form', review: @review %>
<% else %>
  <h3> You already wrote a review for this city, would you like to edit it?</h3>
  <%= render 'form', review: @find %>
<% end %>
<%= link_to 'Back', city_path(@city) %>
